body {
	font-family: "Fira Sans", -apple-system, BlinkMacSystemFont, Roboto, Oxygen,
		Ubuntu, Cantarell, “Droid Sans”, “Helvetica Neue”, Arial, sans-serif;
}

.box-shadow {
	-webkit-box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.33);
	-moz-box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.33);
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.33);
}
