h2 {
	margin:.5rem 0;
}

.intro {
	height: 100%;
	display: flex;
	flex-flow: row wrap;
}

.intro>* {
	flex: 1 100%;
}

.intro-row-1 {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	/* background-color: #f2863d; */
	background: #333;
	box-shadow: 0 3px 7px #bbbbbb;
	transform: skewY(-5deg);
	transform-origin: top left;
}

.body-the-best {
	font-weight: bold;
}

.intro-picture {
	order: 2;
	flex: 1 auto;
	padding: 20px 20px 0 20px;
}

.intro-dave-img {
	max-width: 740px;
	width: 100%
}

.intro-header {
	order: 1;
	flex: 1 auto;
	font-size: 20vw;
	line-height: 18vw;
	font-weight: 600;
	/* color: #323232; */
	color: #f2863d;
	padding: 30px 20px 0 20px;
	align-self: flex-end;
}

.intro-row-3 {
	display: flex;
	justify-content: center;
	z-index: 10;
}

.intro-row-4 {
	width: 100%;
	padding: 30px;
	background: gray;
	color: white;
	text-align: center;
}




/* Medium screens */

@media all and (min-width: 600px) {
	.intro-picture {
		padding: 40px 50px 0 50px;
	}
	.intro-header {
		flex: 0 1 auto;
		font-size: 9rem;
		line-height: 8rem;
		font-weight: 600;
		padding: 50px 50px 0 50px;
		align-self: center;
	}
}

/* Large screens */

@media all and (min-width: 800px) {
	.intro-picture {
		order: 1;
		flex: 2 0px;
		padding: 60px 40px 0 40px;
		align-self: flex-end;
	}
	.intro-header {
		order: 2;
		flex: 2 0px;
		font-size: 10vw;
		line-height: 9vw;
		padding: 100px 50px 0 50px;
		align-self: flex-end;
	}
}