.App {
	display: flex;
	flex-flow: row wrap;
}

.header {
  background-color: #323232;
  height: 100px;
  padding: 18px;
  color: #333;
	flex: 1 100%;
  box-shadow: 0 3px 7px #bbbbbb;
  display: flex;
}

.header-title-container {
  text-align: center;
  flex-grow: 1;
}

.header-icons {
  max-width: 50px;
  margin: 40px 25px;
}

.header-title {
	height:100%;
}

.map {
	flex: 1 100%;
	order:2;
	height: 90vh;
	width: 100% ;
}

.map-marker {
  height: 50px;
  width: 40px;
  position: absolute;
  cursor: pointer;
  top: -60px;
  left: -20px;
  transform-origin: 20px 60px;
  margin: 0;
  padding: 0;
}

.place-list {
	background-color: #eee;
	height: 15rem;
	flex: 1 100%;
	overflow-y: scroll;
	order:3;
}

.place-list-search-box {
  padding: 10px 20px;
  /* margin-bottom:5px; */
}

/* Search Form  */

.App .search-container {
	align-self: center;
	flex: 1 100%;
  padding: 30px;
  font-size: 1.5em;
	text-align: center;
}

/* Medium screens */
@media all and (min-width: 600px) {
	.header-title {

	}
}

/* Large screens */
@media all and (min-width: 800px) {

	.place-list {
		flex: 150px 0px;
		order: 2;
		height: 90vh;
	}

	.map {
		flex: 4 0px;
		order:3;
	}
	.header-title {
		font-size: 2em;
		font-family: 'Rock Salt', cursive;
		letter-spacing: 3px;
	}
}