input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.search-container {
	background: #eee;
	align-self: center;
	flex: 1 100%;
	padding: 20px;
	margin: 10px auto 50px auto;
	font-size: 2rem;
	text-align: center;
	color: #f2863d;
}

.intro .search-container {
	width: 90%;
	max-width: 1000px;
}

.App .search-container {
	max-width: none;
	flex: 1 100%;
	padding: 30px;
	margin: 0;
	background: #eee;
}

@media all and (min-width: 800px) {
	.search-container {
		font-size: 2.6rem;
	}
	.intro .search-container {
		padding: 30px 20px;
	}
}
