body {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, “Fira Sans”, “Droid Sans”, “Helvetica Neue”, Arial, sans-serif;
}

.body-the-best{
  font-weight: bold;
}

.intro-container {
  height: 100vh;  
  background-color: #fed330;    
  font-family: 'Rock Salt', cursive;
  letter-spacing: 4px;  
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:0;
  font-size: 2em;
}

.intro-box {
  padding:20px;
  width:50%;
  background: rgba(255, 255, 255, 0.673);
  border-radius: 10px;

}

 /* general style for the form */
 .intro-form {
  color: #fc4a1a;
	margin: 0.3em auto 0 auto;
  line-height: 1.5;
  font-family: 'Rock Salt', cursive;
  letter-spacing: 3px;
	border: none;
	background: transparent;
	font-family: inherit;
	font-size: inherit;
	/* color: inherit; */
	font-weight: inherit;
	line-height: inherit;
	display: inline-block;
	/* padding: 0; */
	/* margin: 0; */
	-webkit-appearance: none;
	-moz-appearance: none;
}

.intro-form:focus {
	outline: none;
}

.intro-form-input {
	display: inline-block;
	position: relative;
	line-height: inherit;
	display: inline-block;
	cursor: text;
  border-bottom: 3px dashed #fc4a1a;
}

.App {
  display:grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 136px 80px 70px 80vh 60px;
}

.App-header {
  background-color: #fed330;
  height: 100px;
  padding: 18px;
  text-align: center;
  color: #333;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
  box-shadow: 0 3px 7px #bbbbbb 
}

.App-title {
  font-size: 2em;
  font-family: 'Rock Salt', cursive;
  letter-spacing: 3px;
}

.button-container {
  text-align: center;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
}

.map {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 4;
}

.map-marker {
  height: 50px;
  width: 40px;
  position: absolute;
  cursor: pointer;
  top: -60px;
  left: -20px;
  transform-origin: 20px 60px;
  margin: 0;
  padding: 0;
}
/* Place List */
.place-list {
  background-color: #eee;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 4;
}

.place-list-search-box {
  padding: 10px 20px;
  /* margin-bottom:5px; */
}

/* Info Popup */
.info-popup {
  cursor: default;
  background-color: white;
  border: 2px solid #AAA;
  width: 300px;
  height: 220px;
  border-radius: 7px;
  padding: 7px;
  position: absolute;
  top: -320px;
  left: -160px;
  transform-origin: 20px 60px;
  font-size: 1.3em;
  z-index: 6;
}

.close {
  width: 15px;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
  transition: all .2s ease-in-out;
}

.close:hover {
  transform: scale(1.3);
}

.info-popup-tab {
  background-color: rgb(240, 240, 240);
  border: 2px solid #BBB;
  border-left: none;
  border-radius: 0 5px 5px 0;
  font-size: 2em;
  text-align: center;
  padding-top: 6px;
  cursor: pointer;
}

.info-popup-tab.selected {
  cursor: default;
  background-color: rgb(255, 255, 255);
  border: 2px solid #CCC;
  border-left: none;
}

.tab-top {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
}

.tab-mid {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 3;
}

.tab-bot {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 4;
  padding-top: 10px
}

.info-window-icon {
  width: 28px;
}

.review-count-badge {
  position: absolute;
  top: -25px;
  right: -30px;
}

/* Arrow box generator: http://www.cssarrowplease.com/ */

.info-popup:after,
.info-popup:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.info-popup:after {
  border-color: rgba(245, 245, 245, 0);
  border-top-color: #fff;
  border-width: 20px;
  margin-left: -20px;
}

.info-popup:before {
  border-color: rgba(148, 148, 148, 0);
  border-top-color: #949494;
  border-width: 23px;
  margin-left: -23px;
}

.search-box {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
}

.search-box-form {
  text-align: center;
}

.footer {
  text-align: center;
  color:#fed330;
  background-color: rgb(41, 41, 41);
  padding: 20px;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 5;
}