body {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, “Fira Sans”, “Droid Sans”, “Helvetica Neue”, Arial, sans-serif;
}

.App-header {
  background-color: #fed330;
  height: 100px;
  padding: 18px;
  text-align: center;
  color: #111;
}

.App-title {
  font-size: 2em;
  font-family: 'Rock Salt', cursive;
  letter-spacing: 3px;
}